<div class="container">
    <p>
        <label class="txt">anime Name:</label><br>
        <input class="form-control input" type="text" #query><br>
        <button class="btn btn-primary" (click)="submit(query)">Search</button>
      </p>
    
      <div *ngIf="results">
        <div class="row">
          <div class="col-md-3  mb-5" *ngFor="let t of results.products">
            <div class="thumbnail" style="border: 1px solid black">
    
              <div class="content">
                <img src="{{t.image_url}}" class="img-fluid" alt="">
                <h1 >{{}}</h1>
                <a [routerLink]="['/item', t.id]">
                  <span class="ciao" >Find Out More</span>
                </a>
              </div>
            </div>
        </div>
  
      </div>
    </div>
  </div>
